In [2]:
import pandas as pd
import sqlite3
from datetime import datetime
from datetime import datetime, timedelta
import os


dirname = os.getcwd()
excel_file_path = os.path.join(dirname, 'config', 'Data.xlsx')
db_file_path = os.path.join(dirname, 'data.db')

con = sqlite3.connect(db_file_path)

data = pd.read_excel(excel_file_path,sheet_name="employee_shift",)

data_list = [tuple(row) for row in data.values]
query = """
    INSERT INTO 'employee_shift' (employee_id, name, designation, shift_group, is_scm)
    VALUES (?, ?, ?, ?, ?)
"""
con.executemany(query,data_list)

con.commit()
con.close()


#con.executemany("INSERT INTO employee_substitute (employee_id,name,designation,position,	last_shift_attended,	total_shift_attended,	shift_replacement_denied) VALUES (%s,%s,%s,%s,%s,%s,%s)",data)
#con.commit()
#con.close()

In [1]:
import pandas as pd
import sqlite3
from datetime import datetime
from datetime import datetime, timedelta
import os


dirname = os.getcwd()
db_file_path = os.path.join(dirname, 'data.db')

con = sqlite3.connect(db_file_path)

data = pd.read_excel("K:\Sanjay\Deployed_App\Shift_replacement_app\config\employee_data.xlsx")

for col in data.columns:
    if data[col].dtype == 'datetime64[ns]':
        data[col] = data[col].dt.strftime('%Y-%m-%d')

data_list = [tuple(row) for row in data.values]
query = """
    INSERT INTO employee (employee_id,name,designation,position,	last_shift_attended,	total_shift_attended,	shift_replacement_denied,department,last_to_last_shift_attended,shift_group,is_active)
    VALUES (?, ?, ?, ?, ?,?,?,?,?,?,?)
"""
con.executemany(query,data_list)

con.commit()
con.close()


#con.executemany("INSERT INTO employee_substitute (employee_id,name,designation,position,	last_shift_attended,	total_shift_attended,	shift_replacement_denied) VALUES (%s,%s,%s,%s,%s,%s,%s)",data)
#con.commit()
#con.close()

<>:13: SyntaxWarning: invalid escape sequence '\S'
<>:13: SyntaxWarning: invalid escape sequence '\S'
C:\Users\cr7\AppData\Local\Temp\ipykernel_69804\3147626393.py:13: SyntaxWarning: invalid escape sequence '\S'
  data = pd.read_excel("K:\Sanjay\Deployed_App\Shift_replacement_app\config\employee_data.xlsx")

In [1]:
import pandas as pd
import psycopg2
from datetime import datetime
from datetime import datetime, timedelta



con = psycopg2.connect(
database="mis",
user="postgres",
password="wrldc",
host="localhost",
port= '5432'
)
cursor_obj = con.cursor()
sql_query = pd.read_sql_query("select * from employee_substitute order by last_shift_attended asc ",con)
data =  pd.DataFrame(sql_query)
con.close()
data

C:\Users\sanjay.k\AppData\Local\Temp\ipykernel_53436\1759987078.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_query = pd.read_sql_query("select * from employee_substitute order by last_shift_attended asc ",con)

,employee_id,name,designation,position,last_shift_attended,total_shift_attended,shift_replacement_denied
0,30016,Sanjeev Chandrakar,GM,SCM,2024-01-15 00:00:00,NaN,NaN
1,30079,Sathish Kumar R,AM,4&5,2024-04-20 00:00:00,NaN,NaN
2,30017,R K Bhoi,GM,SCM,2024-05-06 00:00:00,NaN,NaN
3,50018,Tushar Mahapatra,SrDGM,SCM,2024-05-25 00:00:00,NaN,NaN
4,30080,S S Raghuwanshi,GM,SCM,2024-08-31 00:00:00,NaN,NaN
5,30092,Shubam R Barai,JE,4&5,2024-10-06 00:00:00,NaN,NaN
6,30084,Pappu kumar,JE,4&5,2024-10-30 00:00:00,NaN,NaN
7,30045,Koti Naveen,M,2&3,2024-11-09 00:00:00,NaN,NaN
8,225,Suresh Bachkheti,AM,2&3,2024-11-12 00:00:00,NaN,NaN
9,305,Saksham Aggarwal,AM,4&5,2024-11-14 00:00:00,NaN,NaN
10,156,Himanshu Verma,DM,2&3,2024-11-15 00:00:00,NaN,NaN
11,95,Shekar Gupta,DM,4&5,2024-11-19 00:00:00,NaN,NaN
12,328,Shivendra Yadav,ET,4&5,2024-11-19 00:00:00,NaN,NaN
13,30044,Naga Sudhir,M,2&3,2024-11-19 00:00:00,NaN,NaN
14,30043,Sushrut Meshram,M,2&3,2024-11-20 00:00:00,NaN,NaN
15,30085,Pratik S Moon,JE,4&5,2024-11-22 00:00:00,NaN,NaN
16,141,Rishav Kumar,DM,2&3,2024-11-27 00:00:00,NaN,NaN
17,222,Aniket R Walke,AM,4&5,2024-11-28 00:00:00,NaN,NaN
18,30090,Durgesh Kumar,JE,4&5,2024-11-30 00:00:00,NaN,NaN
19,30040,M. Venkateswara Rao,M,2&3,2024-12-03 00:00:00,NaN,NaN
20,30088,Sachendra singh,JE,4&5,2024-12-04 00:00:00,NaN,NaN
21,211,IVSSR Hemanth K,AM,2&3,2024-12-04 00:00:00,NaN,NaN
22,42,Maneesh Khandelwal,DM,2&3,2024-12-06 00:00:00,NaN,NaN
23,140,Vikas Kumar Yadav,DM,2&3,2024-12-07 00:00:00,NaN,NaN
24,160,Akash Verma,DM,4&5,2024-12-10 00:00:00,NaN,NaN
25,40065,Himanshu Chordia,DGM,SCM,2024-12-13 00:00:00,NaN,NaN
26,30034,Prashanth Kanakam,CM,SCM,2024-12-14 00:00:00,NaN,NaN
27,87,Rishab Jain,DM,2&3,2024-12-15 00:00:00,NaN,NaN
28,30087,Akhil Gupta,CM,SCM,2024-12-15 00:00:00,NaN,NaN
29,343,Thorati Mojesh,ET,4&5,2024-12-16 00:00:00,NaN,NaN
30,60027,Momai Dey,CM,SCM,2024-12-17 00:00:00,NaN,NaN
31,157,Prashant Kumar,DM,2&3,2024-12-17 00:00:00,NaN,NaN
32,30086,Vijay Kumar Kodali,DGM,SCM,2024-12-19 00:00:00,NaN,NaN
33,20021,S.P Singh,DGM,SCM,2024-12-20 00:00:00,NaN,NaN
34,108,Ramlakhan Meena,DM,2&3,2024-12-20 00:00:00,NaN,NaN
35,30042,Vishal B Puppala,M,2&3,2024-12-21 00:00:00,NaN,NaN
36,30082,Shardul M Kulkarni,CM,SCM,2024-12-22 00:00:00,NaN,NaN
37,230,Shubham Gupta,AM,2&3,2024-12-22 00:00:00,NaN,NaN
38,30023,Hemant K Meena,DGM,SCM,2024-12-23 00:00:00,NaN,NaN
39,40024,Goodelli Madhukar,DGM,SCM,2024-12-24 00:00:00,NaN,NaN
40,161,Dheeraj Gupta,DM,4&5,2024-12-25 00:00:00,NaN,NaN
41,81,Omkar A Kumbhar,DM,2&3,2024-12-26 00:00:00,NaN,NaN
42,30026,Pramod Prajapati,DGM,SCM,2024-12-27 00:00:00,NaN,NaN
43,219,Pavitra Malik,AM,2&3,2024-12-27 00:00:00,NaN,NaN
44,30089,Bablu Kumar,JE,4&5,2024-12-27 00:00:00,NaN,NaN
45,30083,Sandeep Singh Thakur,CM,SCM,2024-12-28 00:00:00,NaN,NaN
46,209,Sanjeeth Chaudary,AM,4&5,2024-12-28 00:00:00,NaN,NaN
47,252,Kunal,AM,4&5,2024-12-28 00:00:00,NaN,NaN
48,125,Sravan Verma,DM,4&5,2024-12-28 00:00:00,NaN,NaN
49,50038,Gourav Mukherjee,CM,SCM,2024-12-29 00:00:00,NaN,NaN
50,30038,Ch. Jagdeesh,CM,2&3,2024-12-29 00:00:00,NaN,NaN
51,30041,Shaikh Mastanvali,M,2&3,2024-12-29 00:00:00,NaN,NaN
52,317,Shivam,ET,4&5,2024-12-29 00:00:00,NaN,NaN
53,177,M Ananthakrishnan,DM,2&3,2024-12-30 00:00:00,NaN,NaN
54,30033,Srinivas Chitturi,CM,SCM,2024-12-30 00:00:00,NaN,NaN
55,99,Nitin Sharma,DM,4&5,2024-12-30 00:00:00,NaN,NaN
56,30030,Sunil K Patil,CM,SCM,2024-12-31 00:00:00,NaN,NaN

In [ ]:
from datetime import datetime, timedelta

def generate_shift_roster(start_date):
    # Define the shift configuration
    shift_config = {
        'A': ['Evening', 'Evening', 'Off', 'Off', 'Morning', 'Morning', 'Night', 'Night'],
        'B': ['Morning', 'Morning', 'Off', 'Off', 'Evening', 'Evening', 'Night', 'Night'],
        'C': ['Night', 'Night', 'Off', 'Off', 'Morning', 'Morning', 'Evening', 'Evening'],
        'D': ['Off', 'Off', 'Evening', 'Evening', 'Morning', 'Morning', 'Night', 'Night']
    }

    # Initialize the shift roster
    shift_roster = {}

    # Generate the shift roster for each group
    for group, shifts in shift_config.items():
        shift_roster[group] = []
        for i in range(len(shifts)):
            shift_roster[group].append((start_date + timedelta(days=i), shifts[i]))

    return shift_roster

def get_shift_for_date(shift_roster, date):
    date = datetime.strptime(date, '%d/%m/%Y')
    for group, shifts in shift_roster.items():
        for shift in shifts:
            if shift[0] == date:
                return group, shift[1]
    return None, None

def main():
    start_date = datetime.strptime('31/12/2024', '%d/%m/%Y')
    shift_roster = generate_shift_roster(start_date)

    print("Shift Roster:")
    for group, shifts in shift_roster.items():
        print(f"Group {group}:")
        for shift in shifts:
            print(f"{shift[0].strftime('%d/%m/%Y')}: {shift[1]}")

    while True:
        date = input("Enter a date (dd/mm/yyyy) to get the corresponding shift: ")
        group, shift = get_shift_for_date(shift_roster, date)
        if group and shift:
            print(f"Group {group} has a {shift} shift on {date}.")
        else:
            print("No shift found for the given date.")

if __name__ == "__main__":
    main()

Shift Roster:
Group A:
31/12/2024: Evening
01/01/2025: Evening
02/01/2025: Off
03/01/2025: Off
04/01/2025: Morning
05/01/2025: Morning
06/01/2025: Night
07/01/2025: Night
Group B:
31/12/2024: Morning
01/01/2025: Morning
02/01/2025: Off
03/01/2025: Off
04/01/2025: Evening
05/01/2025: Evening
06/01/2025: Night
07/01/2025: Night
Group C:
31/12/2024: Night
01/01/2025: Night
02/01/2025: Off
03/01/2025: Off
04/01/2025: Morning
05/01/2025: Morning
06/01/2025: Evening
07/01/2025: Evening
Group D:
31/12/2024: Off
01/01/2025: Off
02/01/2025: Evening
03/01/2025: Evening
04/01/2025: Morning
05/01/2025: Morning
06/01/2025: Night
07/01/2025: Night

In [3]:
import sqlite3

# Establish SQLite connection
con = sqlite3.connect("data.db")

# Create a cursor object
cur = con.cursor()

# Execute the query
cur.execute("SELECT * FROM employee_shift")

# Fetch all rows
rows = cur.fetchall()

# Print the table names
for row in rows:
    print(row[0])

30081
30048
240
251
326
40031
30046
260
268
312
50020
250
39
255
279
20038
30036
247
271
331